annotated-types==0.7.0
aws-lambda-typing==2.20.0
boto3==1.40.59
botocore==1.40.59
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
jmespath==1.0.1
mypy-boto3-dynamodb==1.40.56
nodeenv==1.9.1
openai==1.55.3
packaging==25.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
